snippet "\\start" "Start Template" rb
\documentclass[fleqn]{article}

\usepackage{amsmath}
\usepackage{amsfonts}
\usepackage{graphicx}
\usepackage{color}

\graphicspath{{./Images/}}

\title{$1}
\author{Florian Reimat (A)}

\begin{document}
	\maketitle
	\newpage
	$0
\end{document}
endsnippet 
